
<div class="container">
    <h1 class="header">
        This is App Main
    </h1>
    <button  (click)="btnClicked()"  class="btn" >Preview Data</button>

    <mat-card class="example-card">
      
         
         <div class="card-title"> 
         
             <mat-card-title>id</mat-card-title>
            <mat-card-title>title</mat-card-title>
            <mat-card-title>body</mat-card-title>
        </div>
          
         
       
     
             
        <mat-card-content  >
            
            <mat-grid-list cols="3" rowHeight="200px" >
            <div  *ngFor="let item of empArr">
                <mat-list   >
                    <mat-grid-tile id="child-item"> 
                         <mat-list-item >{{item.id}}</mat-list-item> 
                        </mat-grid-tile> 

                    <mat-grid-tile id="child-item">    
                        <mat-list-item > {{item.title}} </mat-list-item> 
                    </mat-grid-tile> 

                    <mat-grid-tile id="child-item" >     
                      <mat-list-item  > {{item.body}} </mat-list-item> 
                    </mat-grid-tile>
                </mat-list>
                
            
            </div>
        </mat-grid-list>
    
        </mat-card-content>
        
    </mat-card>
    
    
  
</div>


<div >
   
   
</div>